body {
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 6px #ebe7e7;
}

h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label, input {
    margin: 10px 0;
}

input[type="submit"] {
    width: 100px;
    margin: auto;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
