<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h2>Heart Disease Prediction Form</h2>
        <form action="/predict" method="post">
            <label for="BMI">Enter your Body Mass Index (BMI):</label>
            <input type="text" id="BMI" name="BMI" required><br>

            <label for="Smoking">Do you or have you smoke before:</label>
            <input type="text" id="Smoking" name="Smoking" required><br>

            <label for="AlcoholDrinking">Do you take in or abuse alcohol:</label>
            <input type="text" id="AlcoholDrinking" name="AlcoholDrinking" required><br>

            <label for="Stroke">(Ever told) (you had) a stroke:</label>
            <input type="text" id="Stroke" name="Stroke" required><br>

            <label for="PhysicalHealth">how many days during the past 30 days was your physical health not good:</label>
            <input type="number" id="PhysicalHealth" name="PhysicalHealth" required><br>
            
            <label for="MentalHealth">for how many days during the past 30 days was your mental health not good:</label>
            <input type="number" id="MentalHealth" name="MentalHealth" required><br>

            <label for="DiffWalking">Do you have serious difficulty walking or climbing stairs?:</label>
            <input type="text" id="DiffWalking" name="DiffWalking" required><br>
            
            <label for="Sex">Are you male or female?:</label>
            <select id="Sex" name="Sex" required>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select><br>

            <label for="AgeCategory">Fourteen-level age category:</label>
            <select id="AgeCategory" name="AgeCategory" required>
                <option value="18-24">18-24</option>
                <option value="25-29">25-29</option>
                <option value="30-34">30-34</option>
                <option value="35-39">35-39</option>
                <option value="40-44">40-44</option>
                <option value="45-49">45-49</option>
                <option value="50-54">50-54</option>
                <option value="55-59">55-59</option>
                <option value="60-64">60-64</option>
                <option value="65-69">65-69</option>
                <option value="70-74">70-74</option>
                <option value="75-79">75-79</option>
                <option value="80 or older">80 or older</option>
            </select><br>
            
            <label for="Race">Imputed race/ethnicity value:</label>
            <input type="text" id="Race" name="Race" required><br>

            <label for="Diabetic">(Ever told) (you had) diabetes (Yes/No):</label>
            <input type="text" id="Diabetic" name="Diabetic" required><br>

            <label for="PhysicalActivity">Physical activity other than your regular job in the past 30 days:</label>
            <input type="number" id="PhysicalActivity" name="PhysicalActivity" required><br>

            <label for="GenHealth">Would you say that in general your health is:</label>
            <select id="GenHealth" name="GenHealth" required>
                <option value="Excellent">Excellent</option>
                <option value="Very good">Very good</option>
                <option value="Good">Good</option>
                <option value="Poor">Poor</option>
                <option value="Very poor">Very poor</option>
            </select>

            <label for="SleepTime">On average, how many hours of sleep do you get in a 24-hour period</label>
            <input type="number" id="SleepTime" name="SleepTime" required><br>

            <label for="Asthma">(Ever told) (you had) a Asthma(Yes/No):</label>
            <input type="text" id="Asthma" name="Asthma" required><br>

            <label for="KidneyDisease">Not including kidney stones, bladder infection or incontinence, were you ever told you had kidney disease(Yes/No)</label>
            <input type="text" id="KidneyDisease" name="KidneyDisease" required><br>

            <label for="SkinCancer">(Ever told) (you had) a SkinCancer(Yes/No):</label>
            <input type="text" id="SkinCancer" name="SkinCancer" required><br>

            <input type="submit" value="Predict">
        </form>
    </div>
</body>
</html>
